html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.card, .alert, .navbar, .footer {
    background-color: rgba(0, 0, 0, 0.8);
}

a {
    color: #f0c040;
}

a:hover {
    color: #fff;
}

.toast-body {
    color: #b7af13;
}
.custom-toast {
    background-color: #4d4a4a;
}
.live-image-wrapper {
    flex-grow: 1;
    height: auto;
    display: flex;
    align-items: stretch;
}

.live-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.live-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}
